@model JobFinderAlbania.Models.AuthModels.BuyerRegistrationViewModel

@{
    ViewData["Title"] = "Buyer Registration";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="RegisterStep2Buyer" method="post">
    <input type="hidden" asp-for="FirstName" />
    <input type="hidden" asp-for="LastName" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="PaymentMethod"></label>
        <input asp-for="PaymentMethod" class="form-control"/>
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Bio"></label>
        <textarea asp-for="Bio" class="form-control"></textarea>
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

<div>
    <a asp-area="" asp-controller="Account" asp-action="Register">Back to Step 1</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}